body{
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: 'Source Code Pro', monospace;
  color: 	#FFFF00;
}

/* Padding is given for a more cleaner view in mobile. */

p {
  color: 	#A9BA9D;
}

a.project-links {
  color: inherit;
}

/* Top Section */

.row {
  margin: 8% 8% 3%;
}

.profile-img-section {
  text-align: center;
}

.profile-img {
  width: 200px;
  height: 200px;
}

.top-portion-description {
  color: 	#A9BA9D;
}

.social-links {
  padding: 0.5rem;
}

/* About Me Section */

.about-me {
  text-align: center;
}

.about-me-description {
  padding: 1% 20% 2%;
}

/* Email */

.email {
  text-align: center;
  margin-bottom: 2%;
}

/* Media Query */
@media (max-width: 1000px) {
  .about-me-heading {
    margin-left: 100px;
    text-align: left;
  }
  .about-me-description {
    margin-left: 100px;
    padding: 1% 0 2%;
    text-align: left;
  }
}
